#headport {
  background-color:blue;
  height: 100px;
  position: top;
}
#headcont {
  algin: justify;

}

#ul {
  list-style: none;
}

#menu {
  float: left;
}
#logo {
  float: left;
}
#about {
  float: right;
}
#mainport {
  background-color:grey;
  height: 500px;
}
#portleft {
  background-color:green;
  float:left;
  width: 50%;
  height: 100%
}
#portright {
  background-color:yellow;
  float:left;
  width: 50%;
  height: 100%
}
#footer {
  background-color:grey;
  height: 50px;
  width: 100%;
  position: fixed;

}






ul {
  padding: 0px;
  margin: 0px;
}



#learn-content {
  width: 100%;
  padding-top: 0px;
}

#learn-nav {
  width: 100%;
  padding-left: 0px;
}

#learn-nav-list {
  width: 100%;
  margin: 0px;
  padding-top: 3px;
  padding-left: 3px;
  background-color: red;
}

#learn-nav-list ul {
  width: 100%;
  padding: 0px;
}

#learn-nav-list li {
  display: inline;
  background-color: #b3c9be;
  padding-left:2px;
  padding-right: 2px;
}

#learn-display {
  background-color: #b3c9be;

}

#learn-display-block {
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 8px;
}
