/*********************Jack Rans'styles*************/

/*#headport {
  background-color:blue;
  height: 100px;
  position: top;
}
#headcont {
  algin: justify;

}

#ul {
  list-style: none;
}

#menu {
  float: left;
}
#logo {
  float: left;
}
#about {
  float: right;
}
#mainport {
  background-color:grey;
  height: 500px;
}
#portleft {
  background-color:green;
  float:left;
  width: 50%;
  height: 100%
}
#portright {
  background-color:yellow;
  float:left;
  width: 50%;
  height: 100%
}
#footer {
  background-color:grey;
  height: 50px;
  width: 100%;
  position: fixed;

}*/


/*#ffb253
#ff5c53
#f3dfff*/


body {

  margin: 0;
  font-family: 'Vollkorn', Tahoma, sans-serif; 
}

header {

    background-color: #94ddf7; 
    text-align: center;
    margin: 0;
    height: 100px; 
    font-family: 'Allerta', sans-serif;

}

header h1 {

  margin: 0;
}

.logo-container {

  float: left;
  margin-left: 0px;  

}

.menu-container {
  float: right;
  margin-top: 8px;
  margin-right: 17px; 
}

.menu li {
  display: inline-block;
  list-style: none; 

}

ul {
  padding: 0px;
  margin: 0px;
}



#learn-content {
  width: 100%;
  padding-top: 0px;
}

#learn-nav {
  width: 100%;
  padding-left: 0px;
}

#learn-nav-list {
  width: 100%;
  margin: 0px;
  padding-top: 3px;
  padding-left: 3px;
  background-color: #ffb253;
}

#learn-nav-list ul {
  width: 100%;
  padding: 0px;
}

#learn-nav-list li {
  display: inline;
  background-color: grey;
  padding-left: 2px;
  padding-right: 2px;
}

#learn-display {
  background-color: grey;

}

#learn-display-block {
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 8px;
}
