#headport {
  background-color:blue;
  height: 100px;
  position: top;
}
#headcont {
  algin: justify;

}

#ul {
  list-style: none;
}

#menu {
  float: left;
}
#logo {
  float: left;
}
#about {
  float: right;
}
#mainport {
  background-color:grey;
  height: 500px;
}
#portleft {
  background-color:green;
  float:left;
  width: 50%;
  height: 100%
}
#portright {
  background-color:yellow;
  float:left;
  width: 50%;
  height: 100%
}
#footer {
  background-color:grey;
  height: 50px;
  width: 100%;
  position: fixed;

}
