

* {
  outline: 1px dashed white;
}

body {

  margin: 0;
  font-family: 'Vollkorn', Tahoma, sans-serif; 
  font-size: 1em;
}

header {

    background-color: #94ddf7; 
    text-align: center;
    margin: 0;
    height: 100px; 
    font-family: 'Allerta', sans-serif;

}

header h1 {

  margin: 0;
}

#indexlogo {
  width: 100%;
  text-align: center;
  position: fixed;
}

#indexlogo a{
}
a.element
#indexlogo a img{
  width: 30%;
  max-width: 150px;
}
.faclink{
  text-align: left;
}
.teamlink{
  text-align: right;
}
.logo{
  text-align: center;
}

.logo-container {

  float: left;
  margin-left: 0px;  

}

.menu-container {
  float: right;
  margin-top: 8px;
  margin-right: 17px; 
}

.menu li {
  display: inline-block;
  list-style: none; 

}

ul {
  padding: 0px;
  margin: 0px;
}



#learn-content {
  width: 100%;
  padding-top: 0px;
}

#learn-nav {
  width: 100%;
  padding-left: 0px;
}

#learn-nav-list {
  width: 100%;
  margin: 0px;
  padding-top: 3px;
  padding-left: 3px;
  background-color: #ffb253;
}

#learn-nav-list ul {
  width: 100%;
  padding: 0px;
}

#learn-nav-list li {
  display: inline;
  background-color: grey;
  padding-left: 2px;
  padding-right: 2px;
}

#learn-display {
  background-color: grey;

}

#learn-display-block {
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 8px;
}

#headport {
  background-color:blue;
  height: 100px;
  position: top;
}
#headcont {
  algin: justify;

}

#ul {
  list-style: none;
}

#menu {
  float: left;
}
#logo {
  float: left;
}
#about {
  float: right;
}
#mainport {
  background-color:grey;
  height: 100vh;
  margin:0;
}
#mainport a{
  height: 100%;
}
#mainport a p{
text-align: center;
color: rgb(255, 255, 255);
font-weight: 900;
text-shadow: 2px 2px rgb(0, 0, 0);
font-size: 2em;
top: 60%;
position: relative;
margin: 0px;
}
#portleft {
  background-color:green;
  float:left;
  width: 50%;
  height: 100%;
  background: url('portfolio.jpeg') top center no-repeat;
  background-size: cover;
}
#portright {
  float:left;
  width: 50%;
  height: 100%;
  background: url('learning.jpeg') top center no-repeat;
  background-size: cover;
}
#footer {
  background-color:grey;
  height: 10vh;
  width: 90%;
  position: fixed;
  bottom: 0px;
  text-align:center;
  left:5%;
  min-height: 30px;

}
