

/** {
  outline: 1px dashed white;
}*/

body {

  margin: 0;
  font-family: 'Vollkorn', Tahoma, sans-serif;
  font-size: 1em;
}


#topicons {
  width: 100%;
  text-align: center;
  position: fixed;
  top:20px
}

#Logohome {
  top:2em;
  height: auto;
  width: 20%;
}

.corners {
  top:2em;
  height: auto;
  width: 10%;
}

#topicons a {
  padding-left: 8%;
  padding-right:8%;

}



#mainport {
  background-color:grey;
  height: 100vh;
  margin:0;
}
#mainport a{
  height: 100%;
}
#mainport a p{
text-align: center;
color: rgb(255, 255, 255);
font-weight: 900;
text-shadow: 2px 2px rgb(0, 0, 0);
font-size: 2em;
top: 60%;
position: relative;
margin: 0px;
}
#portleft {
  background-color:green;
  float:left;
  width: 50%;
  height: 100%;
  background: url('portfolio.jpeg') top center no-repeat;
  background-size: cover;
}
#portright {
  float:left;
  width: 50%;
  height: 100%;
  background: url('learning.jpeg') top center no-repeat;
  background-size: cover;
}
#footer {
  background-color:white;
  height: 10vh;
  width: 90%;
  position: fixed;
  bottom: 0px;
  text-align:center;
  left:5%;
  min-height: 30px;
  font-size:2em;

}

#footer p {
  margin: 0;
  padding: 2vh;
  font-size: 0.6em;
  color: black;
}
